<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :descrição %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :tipo_de_produto %>
    <%= form.text_field :product_type %>
  </div>

  <div class="field">
    <%= form.label :valor_de_venda %>
    <%= form.number_field :sale_value %>
  </div>

  <div class="field">
    <%= form.label :valor_de_compra %>
    <%= form.number_field :purchase_value %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
